body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.twitter {
  height: 18px;
}

.mya {

}

.nav.navbar-nav>li>a.mya:hover {
    background-color:#5ea9dd;
}

/*.mya:hover {
  background-color: blue;
}*/

.twitter:hover {
  background-color: #5ea9dd;
}

.menu-bar-container {
  display: list-item;
}
