body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.twitter {
  height: 18px;
}

.linkedin {
  height: 18px;
}

.twitter-a {}

.nav.navbar-nav>li>a.twitter-a:hover, .twitter:hover {
    background-color:#5ea9dd;
}

.nav.navbar-nav>li>a.linkedin-a:hover, .linkedin:hover {
    background-color:#0084bf;
}

.menu-bar-container {
  display: list-item;
}
