$background-color = #F2F1EF
$font-color = #333
$second-font-color = #555
$border-color = #AAA
$primary-color = #26a652
$border-color = lightness($primary-color, 30%)
$secondary-color = #A62A26
$tertiary-color = #ED3447
$jefferson-color = #569BCA
$twitter-color = #1EA1F2
$github-color = #1B1A1A
$linkedin-color = #0077B5
$html-color = #F0754E
